


.subs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;

    margin-top: 150px;
    padding-bottom: 150px;

    justify-content: center;
    align-items: center;
}

.submackogneur{
    grid-column: 2/3;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(16,1fr);

    width: 340px;
    height: 590px;
    left: 402px;
    top: 349px;

    background: linear-gradient(180deg, #A0B4C5 0%, #61697D 100%), #F2F2F2;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.submackogneur-image{
    height: 253px;
    width: 314px;
    background-image: url(../img/page/imageMackogneur.svg);
    background-repeat: no-repeat;
    grid-row: 1/5;
    grid-column: 1/3;
}
.sub-color-mackogneur{
    color: #D1C280;
}
.sub-backgroundcolor-mackogneur{
    background-color: #1F2427;
}



.sub-image{
    grid-row: 1/5;
    grid-column: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub-abonnement{
    grid-row: 7/8;
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub-name{
    grid-row: 8/9;
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.sub-inscription{
    grid-row: 9/11;
    grid-column: 1/3;
    display: grid;
    grid-template-rows: 50% 50%;
    justify-content: center;
    align-items: center;
}
.sub-inscription-up{
    display: flex;
    grid-row: 1/2;

    color: #BFBFBF;

    justify-content: center;
    align-items: center;
}
.sub-inscription-up-dracofeu{
    color: #000000;
}
.sub-inscription-down{
    display: flex;
    grid-row: 2/3;

    justify-content: center;
    align-items: center;
}
.sub-accessalle{
    display: flex;
    grid-row: 11/12;
    grid-column: 1/3;
    justify-content: center;
    align-items: center;
}
.sub-disponibilite{
    display: flex;
    grid-row: 12/13;
    grid-column: 1/3;
    justify-content: center;
    align-items: center;
}
.sub-button{
    display: flex;
    grid-row: 12/14;
    grid-column: 1/3;
    justify-content: center;
    align-items: center;
    width: 80%;

    position: relative;

    background: linear-gradient(180deg, #06C50D 0%, #075400 100%);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.btn-image{
    position: absolute;
    right: 60px;
    bottom: 28px;
}


#card-dracofeu{
    grid-column: 3/4;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(16,1fr);

    justify-content: center;

    width: 360px;
    height: 630px;
    left: 772px;
    top: 335px;

    background: linear-gradient(180deg, #EDA162 0%, #CC8751 100%), #F2F2F2;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.subdracofeu-image{
    height: 253px;
    width: 314px;
    background-image: url(../img/page/imageDracofeu.svg);
    background-repeat: no-repeat;
    grid-row: 1/6;
    grid-column: 1/3;
}
.sub-color-dracofeu{
    color: #007588;
}
.sub-color-dracofeu2{
    color: #EDA162;
}
.sub-backgroundcolor-dracofeu{
    background-color: #007588;
}

.subpikachu{
    grid-column: 4/5;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(16,1fr);

    justify-content: center;

    width: 340px;
    height: 590px;

    background: linear-gradient(180deg, #FFD944 0%, #EDAA3D 100%), #F2F2F2;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.subpikachu-image{
    height: 253px;
    width: 314px;
    background-image: url(../img/page/imagePikachu.svg);
    background-repeat: no-repeat;
    grid-row: 1/6;
    grid-column: 1/3;
}
.sub-color-pikachu{
    color: #FA522C;
}
.sub-backgroundcolor-pikachu{
    background-color: #1F2427;
}