@font-face{
    font-family: "pokemon";
    src: url(../font/PokemonGb-RAeo.ttf);
}
*{
    font-family: "pokemon";
    margin: 0px;
    padding: 0px;
}

#background{
    background-image: url(../img/page/backgroundContent.svg);
    background-size: contain;
    background-repeat: repeat-y;
    min-height: 900px;
    width: 100%;
}
#menu{
    background-image: url(../img/page/backgroundMenu.svg);
    background-size: cover;
    background-repeat: no-repeat;
}
#map{
    padding-top: 150px;
    padding-bottom: 150px;
    background-image: url(../img/page/map_sinnoh_refined.svg);
    background-size: cover;
    background-repeat: no-repeat;
}
#pagetitle{
    text-align: center;
}

#intro{
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 150px;
    margin-bottom: 150px;

    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 7px;

    backdrop-filter: blur(4px);
}

#comments{
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 150px;
    margin-bottom: 150px;
}

.btn-green{

    width: 80%;
    height: 65px;

    font-size: 30px!important;

    background: linear-gradient(180deg, #06C50D 0%, #075400 100%);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.btn-green:hover{
    
    background: linear-gradient(180deg, #075400 0%, #06C50D 100%);
}

#card-Dracofeu{
    width: 30%;
    height: 630px;

    background: linear-gradient(180deg, #EDA162 0%, #CC8751 100%), #F2F2F2;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
#card-Mackogneur{
    width: 30%;
    height: 630px;

    background: linear-gradient(180deg, #A0B4C5 0%, #61697D 100%), #F2F2F2;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
#card-Pikachu{
    width: 30%;
    height: 630px;

    background: linear-gradient(180deg, #FFD944 0%, #EDAA3D 100%), #F2F2F2;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.info-bubble{
    
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 5%;
    margin-bottom: 150px;

    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 7px;

    backdrop-filter: blur(4px);
}



